.home-page-body {
    display: flex;
    flex-direction: column;
   align-items: center;
    background-color: palegoldenrod;
}
.store-link {
    display: flex;
    justify-content: center;
}
.product-pic {
    background: white;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 300px;
    height: 300px;
}
.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;

}
}
.navbar {
    display: flex;
    border-style: groove;
    height: 40px;
    justify-content: flex-end;
    background-color: slategray;

}
.background {
    background-color: darkgoldenrod;
}
.heropic {
    display: flex;
    justify-content: center;
}
.hero-pic {
    width: 2000px;
    height: 500px;
}
.text-area {
    border-style: groove;
    height: 400px;
    width: 100pc;
}
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}